/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#map, .floatingbar {
	height: 550px;
}

#map {
	width: 100%;
}

.icon-section div {
	text-align: center;
}
	.icon-section div a {
		width: 160px;
	}

/* --- NAV --- */
.topbar {
	height: 8rem;
	background-color: black;
}

	.topbar .nav-wrapper {
		width: 90%;
	}

.brand-logo,
.brand-logo img {
	height: inherit;
}

.menu {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
  z-index: 1;
  position: absolute;
  right: 0;
}

.menu,
.menu li {
	height: 10rem;
}	
	.menu li {
		display: table;
		margin: 0 11px;
	}

	.menu li:hover {
		background-color: inherit;
	}
	.menu li:last-of-type {
		margin-right: 0;
	}

	.menu a {
		display: table-cell;
    vertical-align: middle;
    min-width: 13rem;
    max-width: 10rem;
    font-size: 1.1rem;
    line-height: normal;
    padding: 0rem;
	}
	.menu a.student {
		background-color: #006600;
	}
	.menu a.tourist {
		background-color: #c55a11;
	}
	.menu a.research {
		background-color: #1f4e79;
	}
	.menu a.student:hover {
		background-color: #006600;
		opacity: .9;
	}
	.menu a.tourist:hover {
		background-color: #c55a11;
		opacity: .9;
	}
	.menu a.research:hover {
		background-color: #1f4e79;
		opacity: .9;
	}
	.menu a i {
		font-size: 3rem;
	}
	.menu a:hover {
		background-color: #c16161;
	}
	.menu li.active a {
		background-color: rgba(136, 136, 136, 1);
	}
	.menu li.active a:hover {
		background-color: rgba(136, 136, 136, 0.9);
	}

/* --- FLOATING BAR --- */
.floatingbar {
	position: absolute;
	z-index: 1;
	background: transparent;
	box-shadow: none;
	width: inherit;
	display: table;
	left: 40px;
}

.floatingbar .vertical {
	display: table-cell;
	height: inherit;
	vertical-align: middle;
	float: none;
	width: 200px;
}
	.floatingbar .vertical .title {
		position: relative;
		font-size: 1.5em;
		left: 10px;
	}
		.floatingbar .vertical .title i {
			padding-right: 10px;
		}

	.floatingbar .vertical li {
		width: 100%;
    margin: 5px 0;
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    text-align: center;
    padding: 0;
    line-height: normal;
	}
	.floatingbar .vertical a {
		background-color: #006500;
		width: inherit;
	}
	.floatingbar .vertical a:hover {
		background-color: #2D8B2D;
	}
	
/* --- FOOTER --- */
footer.page-footer {
	background-color: black;
	font-family: 'Source Sans Pro', sans-serif;
}
.footer-menu {
	color: white;
	float: right;
}
.footer-menu li {
	text-transform: uppercase;
	padding-right: 40px;
}

	.footer-menu li a {
		color: white;
	}

.page-footer {
	margin-top: 0 !important;
	height: 150px;
}
	.page-footer .content {
		height: 100px;
		text-align: right;
		padding: 0 2rem;
	}

	.page-footer .content img {
		height: inherit;
		padding: 25px 20px;
		float: right;
	}

/* Modals */
.modal {
	font-family: 'Source Sans Pro', sans-serif;
}

.modal p {
	margin: 0;
}

.modal .name {
  font-size: 1.2rem;
  font-weight: 700;
}
.modal .legend {
	margin-bottom: 15px;
}